.inputForm form, table{
    background: lightgrey;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.inputForm cavas{
	width: 100%;
	height: auto;
}

.inputForm label{
    display: block;
    width: 200px;
    float: left;
    clear: both;
}

.inputForm input[type="text"],input[type="email"],input[type="tel"],input[type="number"],select{
    width: 100%;
}

.inputForm span{
    overflow: hidden;
    display: block;
}