/* line 11, ../sass/style.scss */
body {
  line-height: 120%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Arial", "Arial", "Gadget", sans-serif;
}
/* line 16, ../sass/style.scss */
body input {
  font-size: 16px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 11, ../sass/style.scss */
  body {
    font-size: 26px;
  }
  /* line 20, ../sass/style.scss */
  body input {
    font-size: 26px;
  }
}
/* line 25, ../sass/style.scss */
body .header img {
  display: block;
  margin: 15px auto 25px;
}
/* line 29, ../sass/style.scss */
body .header .linkbar {
  font-family: "Arial Black", "Arial Bold", "Gadget", sans-serif;
  color: white;
  background: #d00032;
  width: auto;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  text-align: center;
}
/* line 40, ../sass/style.scss */
body .header .linkbar a:link, body .header .linkbar a:visited {
  background-color: #d00032;
  color: white;
  padding: 13px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-shadow: 2px 2px 2px #870004;
}
/* line 51, ../sass/style.scss */
body .header .linkbar a:hover, body .header .linkbar a:active {
  background-color: #810000;
}
/* line 57, ../sass/style.scss */
body .wrapper h2 {
  font-family: "Arial Black", "Arial Bold", "Gadget", sans-serif;
  color: #082833;
  font-size: 120%;
  padding: 5px 5px 5px 5px;
}
/* line 63, ../sass/style.scss */
body .wrapper button {
  background-color: #082833;
  color: white;
  text-transform: uppercase;
  font-family: "Arial Black", "Arial Bold", "Gadget", sans-serif;
  border: none;
  height: 2em;
  padding: 5px 5px 5px 5px;
}
@media only screen and (min-width: 600px) {
  /* line 56, ../sass/style.scss */
  body .wrapper {
    width: 600px;
    margin: 0 auto;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 56, ../sass/style.scss */
  body .wrapper {
    width: 100%;
  }
}
/* line 81, ../sass/style.scss */
body .wrapper .inputForm form, body .wrapper .inputForm table {
  background: #f5f5f5;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}
/* line 85, ../sass/style.scss */
body .wrapper .inputForm form div, body .wrapper .inputForm table div {
  height: 25px;
}
/* line 90, ../sass/style.scss */
body .wrapper .inputForm canvas {
  position: absolute;
  display: none;
  visibility: collapse;
  width: 0;
  height: 0;
  left: -999em;
}
/* line 100, ../sass/style.scss */
body .wrapper .inputForm label {
  display: block;
  width: 200px;
  float: left;
  clear: both;
  height: 1em;
}
/* line 108, ../sass/style.scss */
body .wrapper .inputForm input[type="text"], body .wrapper .inputForm input[type="email"], body .wrapper .inputForm input[type="tel"], body .wrapper .inputForm input[type="number"], body .wrapper .inputForm select {
  font-size: 16px;
  width: 100%;
  height: auto;
}
/* line 114, ../sass/style.scss */
body .wrapper .inputForm span {
  overflow: hidden;
  display: block;
}
