/* line 12, ../sass/style.scss */
body {
  line-height: 120%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Arial", "Arial", "Gadget", sans-serif;
}
/* line 17, ../sass/style.scss */
body input {
  font-size: 16px;
}
/* line 26, ../sass/style.scss */
body .header img {
  display: block;
  margin: 15px auto 25px;
}
/* line 30, ../sass/style.scss */
body .header .linkbar {
  font-family: "Arial Black", "Arial Bold", "Gadget", sans-serif;
  color: white;
  background: #d00032;
  width: auto;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  text-align: center;
}
/* line 41, ../sass/style.scss */
body .header .linkbar a:link, body .header .linkbar a:visited {
  background-color: #d00032;
  color: white;
  padding: 13px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-shadow: 2px 2px 2px #870004;
}
/* line 52, ../sass/style.scss */
body .header .linkbar a:hover, body .header .linkbar a:active {
  background-color: #810000;
}
/* line 59, ../sass/style.scss */
body span .button-sidebyside {
  width: 50%;
  float: left;
}
/* line 66, ../sass/style.scss */
body .wrapper h2 {
  font-family: "Arial Black", "Arial Bold", "Gadget", sans-serif;
  color: #082833;
  font-size: 120%;
  padding: 5px 5px 5px 5px;
}
/* line 72, ../sass/style.scss */
body .wrapper button {
  background-color: #082833;
  color: white;
  text-transform: uppercase;
  font-family: "Arial Black", "Arial Bold", "Gadget", sans-serif;
  border: none;
  height: 2em;
  padding: 5px 5px 5px 5px;
}
/* line 81, ../sass/style.scss */
body .wrapper button:hover {
  background-color: #04141a;
}
@media only screen and (min-width: 600px) {
  /* line 65, ../sass/style.scss */
  body .wrapper {
    width: 600px;
    margin: 0 auto;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 65, ../sass/style.scss */
  body .wrapper {
    width: 100%;
  }
}
/* line 94, ../sass/style.scss */
body .wrapper .inputForm .scrollable {
  width: 100%;
  overflow-x: auto;
  background: #f5f5f5;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}
/* line 102, ../sass/style.scss */
body .wrapper .inputForm div {
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}
/* line 107, ../sass/style.scss */
body .wrapper .inputForm .meta {
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}
/* line 112, ../sass/style.scss */
body .wrapper .inputForm form, body .wrapper .inputForm table {
  color: #082833;
  background: #f5f5f5;
}
/* line 117, ../sass/style.scss */
body .wrapper .inputForm form div, body .wrapper .inputForm table div {
  height: 25px;
}
/* line 125, ../sass/style.scss */
body .wrapper .inputForm table {
  border-collapse: collapse;
}
/* line 129, ../sass/style.scss */
body .wrapper .inputForm table, body .wrapper .inputForm th, body .wrapper .inputForm td {
  border: 1px solid #082833;
  padding: 3px 3px 3px 3px;
}
/* line 134, ../sass/style.scss */
body .wrapper .inputForm td {
  background-color: white;
  text-align: center;
}
/* line 139, ../sass/style.scss */
body .wrapper .inputForm .align-left {
  text-align: left;
  width: 200px;
}
/* line 144, ../sass/style.scss */
body .wrapper .inputForm canvas {
  position: absolute;
  display: none;
  visibility: collapse;
  width: 0;
  height: 0;
  left: -999em;
}
/* line 154, ../sass/style.scss */
body .wrapper .inputForm label {
  display: block;
  width: 200px;
  float: left;
  clear: both;
  height: 1em;
}
/* line 162, ../sass/style.scss */
body .wrapper .inputForm input[type="text"], body .wrapper .inputForm input[type="email"], body .wrapper .inputForm input[type="tel"], body .wrapper .inputForm input[type="number"], body .wrapper .inputForm select {
  font-size: 16px;
  width: 100%;
  height: auto;
}
/* line 168, ../sass/style.scss */
body .wrapper .inputForm span {
  overflow: hidden;
  display: block;
}
/* line 175, ../sass/style.scss */
body .graphicsDisplay {
  position: absolute;
  display: none;
  visibility: collapse;
  width: 0;
  height: 0;
  left: -999em;
}
/* line 184, ../sass/style.scss */
body .previewImage {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
